*{
    margin: 0;
    padding: 0;
}

.header table{
    border-spacing: 10px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    padding-left: 20px;
    background-color: lightblue;
}

.header table a{
    text-decoration: none;
}

.body form table{
    border-spacing: 20px;
    padding: 20px;
}